*{
    box-sizing: border-box;
    
}
body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol,li{
    list-style-type: none;
    text-decoration: none;
    padding: 50px;
    padding-top: 8px;
    
    
}
ol{
    display: flex;
    


}
a{
    text-decoration: none;
    color: #ad8330;
    font-size: 18px;
    font-weight: bold;
    
}
.navegacion{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-around;
}
.logo{
    position: absolute;
    width: 200px;
    
}

.cuerpo{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

footer{
    background-color: #ad83309a;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.recetas{
    border-radius: 25px;
    font-weight: bold;
    width: 20%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ad83309a;
    padding: 30px;
}

.image{
    width: 150px;
    border-radius: 30px;
    align-self: center;
}
.titulo{
    color: black;
    text-decoration: underline;
}

.tituloPrincipal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 40px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #ad83309a;
    border-radius: 30px;
}

.recipe{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color:#ad83309a ;
    color: black;
    border-radius: 20px;
}

.imageR{
    width: 400px;
    border-radius: 20px;
}

.caracteristicas{
    font-weight: lighter;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    text-align: center
}

.boton{
    display: flex;
    justify-content: center;
}

#cargarMas{
    background-color: #ad83309a;
    color: black;
    
}