*{
    box-sizing: border-box;
    
}
body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: black;
    height: 110px;
    
}

ol,li{
    list-style-type: none;
    text-decoration: none;
    padding: 100px;
    padding-top: 15px;
    
    
}
ol{
    display: flex;
    


}
a{
    text-decoration: none;
    color: #ad8330;
    font-size: 18px;
    font-weight: bold;
    
}
.navegacion{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-around;
}
.logo{
    position: absolute;
    width: 200px;
    
}

.cuerpo{
    background-color: black;
}

footer{
    background-color: #ad83309a;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    border-radius: 30px;
    font-weight: bold;
}