* {
    box-sizing: border-box;

}

body {
    background-color: #f2eadf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol,
li {
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

ol {
    display: flex;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: #2c2e63;
    font-weight: bold;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
}

.navegacion {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
}

.cuerpo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: #2c2e63;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 5px;

    p {
        color: #f0f0e5;
    }
}

.recetas {
    font-weight: bold;
    width: 20%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid #2c2e63;
    background-color: #ebebe1c1;
    border-radius: 60px;

    a {
        font-size: 30px;
    }
}

.image {
    width: 150px;
    border-radius: 30px;
    align-self: center;
}

.titulo {
    color: black;
    text-decoration: underline;
}

.tituloPrincipal {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #f0f0e5;
    font-size: 50px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2e63;
    border-radius: 30px;
    height: 100px;
    justify-content: center;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 5px solid #2c2e63;
    background-color: #f0f0e5;
    border-radius: 20px;
    color: black;
}

.imageR {
    width: 400px;
    border-radius: 20px;
}

.caracteristicas {
    font-weight: lighter;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    text-align: center
}

.boton {
    display: flex;
    justify-content: center;
}

#cargarMas {
    background-color: #2c2e63;
    color: #f0f0e5;
    margin-bottom: 10px;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

.categorias {
    color: black;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.form-login {
    position: absolute;
    bottom: 28%;
    display: flex;
    flex-direction: column;
    width: 475px;
    background-color: rgba(96, 96, 96, 0.092);
    border-radius: 20px;
    padding: 30px;

    div {
        padding: 10px;
        color: black;
    }


    h2 {
        display: flex;
        justify-content: center;
        max-width: 100%;
        color: #2c2e63;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 64px;
        margin: 0 0 16px;
        text-align: center;
    }


    .no-cuenta {
        color: #2c2e63;
        font-weight: 100;
        font-size: 20px;
        padding-left: 15px;
    }


    input {
        width: 100%;
        height: 48px;
        background: #f0f0e5;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        border-radius: 20px;
        padding: 0 16px;
    }
}

.ingresar {
    display: flex;
    justify-content: center;

    button {
        color: #f0f0e5;
        width: 235px;
        height: 54px;
        text-align: center;
        background-color: #2c2e63;
        border-radius: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        border: none;
    }
}


.footer-login {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: black;
}

.result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    width: 80%;
    margin: 30px;
    background-color: #ad83309a;
    padding: 30px;
}

.img-s {
    width: 800px;
    border-radius: 30px;
    margin-top: 20px;
}

.ver {
    color: rgb(53, 33, 7);
    font-style: italic;
    text-decoration: underline;
}

#search {
    border-radius: 20px;
    height: 30px;
    width: 70%;
    border: 3px solid #2c2e63;
    background-color: #f0f0e5;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    p {
        width: 80px;
    }
}

.categoria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cat {
    justify-content: center;
    width: 30%;
    border: 5px solid, #2c2e63;
    padding: 10px;
    margin: 20px;
    border-radius: 60px;
    background-color: #ebebe1c1;

    a {
        color: #2c2e63;
        font-size: 35px
    }

    ol,
    li {
        list-style-type: none;
        text-decoration: none;
        padding: 50px;
    }
}

.categoria-titulo {
    padding: 30px;
    border-radius: 25px;
    color: #2c2e63;
}

.dificultad {
    font-weight: lighter;
    width: 300px;
}

.categoriasR {
    color: black;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
}

